<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> <!-- jquery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- for icons -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" /> <!-- for tooltips -->
    <title>Postbook</title>
    <style type="text/tailwindcss">
        @layer utilities{
            .active-tab{
                @apply bg-gray-300 rounded-full
            }

            .settings-tab{
                @apply decoration-2 underline underline-offset-[12px]
            }
        }
    </style>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include 'snippets/header.html' %}
        <div class="h-screen w-full pt-[5em] overflow">
            {% block content %}

            {% endblock %}
        </div>
        
        <div class="absolute bottom-3 left-5 h-[110px] w-[110px] bg-sky-200" id="message_notif">
            <p>Message here</p>
        </div>
    {% endif %}
    
</body>
<!-- for tooltip css -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</html>