<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> <!-- jquery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- for icons -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PostBook</title>
</head>
<body>
    <section class="bg-gray-400 h-[100vh] max-w-full relative">
        <div class="bg-white h-[80vh] w-[30%] absolute top-[12%] m-0 right-[35%] left-[35%] rounded-lg ">
            <h1 class="text-center text-5xl font-thin uppercase mt-6">Login</h1>
            <div >
                <form action="{% url 'login' %}" method="post" class="flex flex-col items-center justify-center
                 w-[80%] gap-6 mx-auto h-[40em] ">
                    {% csrf_token %}
                    {% for field in login_form %}
                        <div class="w-full text-left my-3 text-lg">
                            <label for="" >{{ field.label }}</label>
                            {{ field }}
                        </div>
                        
                    {% endfor %}
                    <button type="submit" class="bg-blue-400 p-2 my-4 h-[4em] w-[10em] text-white rounded-lg 
                    uppercase">Login</button>
                    <p class="mx-8 text-center mt-2">
                        Don't have an account yet? <br>
                        <a href="{% url 'register' %}" class="decoration-sky-500 underline hover:decoration-2 duration-500">Click here </a>
                        to sign up!
                    </p>
                    
                </form>
            </div>  
        </div>
        <!-- because the messages have extra tag option, calling the tags property will also include the extra tags aof the message -->
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.extra_tags != 'login' %} hidden {% endif %} 
                    fixed left-[35%] right-[35%] top-[2em] mx-auto block h-[50px] w-[500px] 
                    {% if message.tags == 'login success' %} bg-green-300 border-green-700 {% else %} bg-red-400 border-red-700  {% endif %} 
                    flex items-center rounded-md border-[1px]" 

                    id="home_message_notif">
                    <p id="home_message_text" class="p-1 text-center w-full text-black mx-6">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
    </section>
</body>
</html>