<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PostBook</title>
</head>
<body>
    <section class="bg-gray-400 h-[100vh] max-w-full relative">
        <div class="bg-white h-[80vh] w-[40%] absolute top-[12%] m-0 right-[30%] left-[30%] rounded-lg ">
            <h1 class="text-center text-5xl font-thin uppercase">Register</h1>
            <div >
                <form action="{% url 'register' %}" method="post" class="flex flex-col items-center justify-center
                 w-[60%] mx-auto h-[45em]">
                    {% csrf_token %}
                    {% for field in reg_form %}
                        <div class="w-full text-left my-2 text-lg">
                            <label for="">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        
                    {% endfor %}
                    <button type="submit" class="bg-blue-400 p-2 my-4 w-[9em] text-white rounded-lg uppercase">Register</button>
                    <p class="mx-8 text-center mt-2">
                        Already have an account? <br>
                        <a href="{% url 'login' %}" class="decoration-sky-500 underline hover:decoration-2 duration-500">Click here </a>
                        to log in!
                    </p>
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>  
        </div>
    </section>
</body>
</html>