{% extends 'base.html' %}


{% block content %}

    <section class="grid grid-cols-none md:grid xl:grid xl:grid-cols-5 md:grid-cols-7">
        <div class=" md:col-start-1 md:col-end-9 xl:col-start-2 xl:col-end-5 md:mx-2">
            <div class="border-b-[1px] border-gray-500 md:pl-4 md:mb-4 ">
                <h1 class="text-2xl pb-6">User Settings</h1>

                <ul class="w-full flex flex-col md:flex-row items-start md:items-center md:justify-start md:overflow-x-auto xl:text-base">

                    <a  href="{% url 'settings' 'account' %}"
                        class="text-sm md:text-base me-[1.5em] h-[60px] md:h-auto bg-gray-300 md:bg-transparent w-full md:w-auto">
                        <li class="cursor-pointer hover:text-gray-500 {% if '/account/' in request.path %} settings-tab {% endif %}">
                            &nbsp;&nbsp;&nbsp;Account&nbsp;&nbsp;&nbsp;
                        </li>     
                    </a>

                    <a  href="{% url 'settings' 'profile' %}"
                        class="text-sm md:text-base me-[1.5em] cursor-pointer hover:text-gray-500 {% if '/profile/' in request.path %} settings-tab {% endif %}">
                        <li>
                            &nbsp;&nbsp;&nbsp;Profile&nbsp;&nbsp;&nbsp;
                        </li>
                    </a>

                    <a class="text-sm md:text-base me-[1.5em] cursor-pointer hover:text-gray-500 {% if '//' in request.path %} decoration-2 underline underline-offset-[16px] {% endif %}">
                        <li>
                            &nbsp;&nbsp;&nbsp;Safety & Privacy&nbsp;&nbsp;&nbsp;
                        </li>
                    </a>
                    
                    <a class="text-sm md:text-base me-[1.5em] cursor-pointer hover:text-gray-500 {% if '//' in request.path %} decoration-2 underline underline-offset-[16px] {% endif %}">
                        <li>
                            &nbsp;&nbsp;&nbsp;Feed Settings&nbsp;&nbsp;&nbsp;
                        </li>
                    </a>
                    
                    <a class="text-sm md:text-base me-[1.5em] cursor-pointer hover:text-gray-500 {% if '//' in request.path %} decoration-2 underline underline-offset-[16px] {% endif %}">
                        <li>
                            &nbsp;&nbsp;&nbsp;Notifications&nbsp;&nbsp;&nbsp;
                        </li>
                    </a>
                </ul>
            </div>

            <div class="mt-10 pl-4" id="settings_content">
                {% if '/account/' in request.path %}
                    {% include 'accounts/settings_tabs/account_edit_page.html' %}
                {% elif '/profile/' in request.path %}
                    {% include 'accounts/settings_tabs/profile_edit_page.html' with user=request.user %}
                {% else %}
                    <p>Nothing to see here...</p>
                {% endif %}
            </div>
            
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.extra_tags != 'settings' %} hidden {% endif %} 
                    fixed left-[35%] right-[35%] top-15 mx-auto block h-[50px] w-[500px] 
                    {% if message.tags == 'settings success' %} bg-green-200
                    {% elif message.tags == 'settings error' %} bg-red-200
                    {% else %} bg-blue-200
                    {% endif %} 
                    flex items-center rounded-md border-[1px] border-black" 

                    id="settings_message_notif">
                    <p id="settings_message_text" class="p-1">{{ message }}</p>
                    
                </div>
            {% endfor %}
        {% endif %}
        
    </section>

    <script type="text/javascript">
        function readURL(input, pic){
            // check if input exists
            if (input.files && input.files[0]){
                //create file reader obj
                var reader = new FileReader()

                // set the img to img preview
                reader.onload = function(e){
                    if (pic === 'profile'){
                        $('#img-preview-profile').attr('src', e.target.result)
                    }
                    else if (pic === 'banner'){
                        $('#img-preview-banner').attr('src', e.target.result)
                    }
                }

                reader.readAsDataURL(input.files[0])
            }
        }
        const settings_message_notif = document.getElementById('settings_message_notif')
        if (settings_message_notif !== null){
            setTimeout(function(){
                settings_message_notif.classList.add('hidden')
            }, 3000)
        }
        
        
    </script>

{% endblock %}