<header class="bg-gray-300 h-[100px] flex justify-between items-center px-10">
    <h1 class="text-4xl font-thin">PostBook</h1>
    <div>
        Searchbar
    </div>
    <ul class="list-none flex gap-5 items-center justify-center w-[18em] ">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">Profile</li>
        <li >
            <a href="" class="border-blue-400 border-2 py-2 px-6 cursor-pointer hover:bg-blue-400 duration-150">
             Log In
            </a>
        </li>
    </ul>
    
</header>