{% extends 'base.html' %}

{% block content %}

    <section class="grid grid-cols-5 gap-6 h-[50vh] w-full">
        <div class="col-start-2 col-end-4">
            {% if messages %}

                {% for message in messages %}

                    <p>{{ message }}</p>

                {% endfor %}

            {% endif %}
            <h1 class="text-xl">Edit post</h1>

            <hr class="border-solid border-black my-2">

            <form action="{% url 'edit-post' post.id %}" method="post" class="w-full  h-full px-4 border-[1px] border-gray-400 rounded-xl" 
                enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="user" value="{{ post.user.id }}">
                
                <div class="pt-4">
                    <ul class="flex items-center justify-between  w-full bg-gray-200 h-[50px]  text-center rounded-xl leading-12">
                        <li class="w-[250px] flex justify-center items-center text-xl cursor-pointer hover:bg-gray-400 hover:rounded-lg h-full border-r-[1px] border-gray-500"
                            onclick="openForm(event, 'post')"
                        >
                            <p >Post</p>
                        </li>
                        <li class="w-[250px] flex justify-center items-center  text-xl cursor-pointer hover:bg-gray-400 h-full border-r-[1px] border-gray-500"
                            onclick="openForm(event, 'image')"
                        >
                            <p >Image</p>
                        </li>
                        <li class="w-[250px] flex justify-center items-center  text-xl cursor-pointer hover:bg-gray-400 h-full"
                            onclick="openForm(event, 'url')"
                        >
                            <p >Link</p>
                        </li>
                    </ul>
                    <input type="text" name="title" value="{{ form.initial.title }}" placeholder="Title" class="w-full my-4 h-[40px] text-2xl pl-4 border-2 border-gray-200" required>
                    
                    <div id="post" class="tabcontent">
                        <!-- It is redundant I know but textareas include white spaces..
                        So to avoid that, and considering some posts have no body text, 
                        provide a separate textarea with no whitespace at all -->
                        {% if form.initial.body is not None %}
                        <textarea name="body"  id="" cols="30" rows="10" placeholder="Text here..." 
                            class="w-full my-4 text-2xl p-4 resize-none border-2 border-gray-200"
                            >{{ form.initial.body }}
                        </textarea>
                        {% else %}
                        <textarea name="body"  id="" cols="30" rows="10" placeholder="Text here..." 
                            class="w-full my-4 text-2xl p-4 resize-none border-2 border-gray-200"
                            ></textarea>
                        {% endif %}
                        
                    </div>

                    <div id="image" class="tabcontent hidden">
                        <input type="file" src="" alt="" name="image" accept="image/*" onchange="readURL(this)">
                        {% if form.initial.image %}
                            <img src="{{ form.initial.image.url }}" alt="" id="img-preview">
                        {% else %}
                            <img src="" alt="" id="img-preview">
                        {% endif %}
                        
                    </div>
                    
                    <div id="url" class="tabcontent hidden">
                        <input type="url" name="" id="">
                    </div>
                    
                    
                    
                </div>
                
                
                <button type="submit" class="float-right bg-gray-300 w-[100px] rounded-full py-2 text-xl
                hover:bg-gray-200">Post</button>

            </form>
        </div>

        <div class="bg-gray-200 border-[1px] border-gray-400 rounded-lg p-4">
            <h1>Rules for posting to PostBook</h1>
            <ul>
                <li>1. Don't be an asshole</li>
                <li>2. Remeber no.1</li>
                <li>3. Remeber no.2</li>
                <li>4. Remeber no.3</li>
            </ul>
            <h1>That's all, happy posting</h1>
        </div>
    </section>

    <script type="text/javascript">
        var i, tab_id, tab_content, tab_link;
        
        function openForm(event, formType){
            console.log(formType)
            tab_id = document.getElementById(formType)
            tab_content = document.getElementsByClassName('tabcontent')

            // by default, the post tab is already present so user won't have to click on it to display the post tab
            // the rest of the tabs' display will be set to hidden
            for (i = 0 ; i < tab_content.length; i++){
                if (tab_content[i].classList.contains('hidden')){
                    continue;
                }
                tab_content[i].classList.add('hidden')
            }

            // the selected div with the respective id will display 
            document.getElementById(formType).classList.remove('hidden')
            document.getElementById(formType).classList.add('block');
                    
        }

        function readURL(input){
            // check if input exists
            if (input.files && input.files[0]){
                //create file reader obj
                var reader = new FileReader()

                // set the img to img preview
                reader.onload = function(e){
                    $('#img-preview').attr('src', e.target.result)
                }

                reader.readAsDataURL(input.files[0])
            }
        }
    </script>

{% endblock %}